.bg-blur {
  background-color: #39425072;
}
.Open-Sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: auto;
  left: -30px;
  position: relative;
  color: #6ebeff;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #5aaef3;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: #2c75b5;
  }
  50% {
    top: 30px;
    color: rgba(53, 138, 212, 0.713);
  }
  100% {
    top: 0;
    color: #387ab4;
  }
}

/* scroll */

body::-webkit-scrollbar {
  width: 10px; /* Ширина всего элемента навигации */
}

body::-webkit-scrollbar-track {
  background: white; /* Цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: #1c2125; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid #1c2125; /* Оформление границ бегунка */
}

.bg-img-snow-teal-promo {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;

  background-image: url(/img/bgSnow.webp);
}

.bg-img-snow-grey-promo {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;

  background-image: url(/img/bgSnowGrey.webp);
}
